<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" style=" margin-right:30px;" href="/">Weather reminder</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" style="margin-right:100px;">
                    <a
                            class="nav-link active" aria-current="page"
                            href="{% url 'weather_reminder:api_root' %}">
                        API
                    </a>
                </li>
                {% include "weather_reminder/inc/_latest_update_date_label.html" %}
            </ul>
        </div>
        {% include "inc/_user_menu.html" %}
    </div>
</nav>
